.AboutUsWrapper{
  height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutUsSubTitle{
  font-size: 2.7vh;
  margin-top: 2vh;
  color: #646464;
}

.AboutUsContentWrapper{
  height: 84vw;
  width: 84vw;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
}

.AboutUsTextBox{
  height: 28vw;
  width: 28vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

.AboutUsTextWrapper{
  height: auto;
  width: 23vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.AboutUsTextBox p{
  font-size: 1.8vh;
}

.AboutUsImage{
  height: 28vw;
  width: 28vw;
}

.AboutUsButton{
  height: 5vh;
  width: 13vw;
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #969696;
  outline: 2px solid #969696;
}
