.COWrapper{
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.COContentWrapper{
  width: 50vw;
  height: 90vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.COTextWrapperTop{
  width: 50vw;
  height: auto;
}

.COContentWrapper p{
  font-size: 1.8vh;
}

.COBottomContentWrapper{
  width: 50vw;
  height: 70vh;
  margin-top: 3vh;
  display: flex;
}

.COTextWrapperBottom{
  width: 25vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.COImageWrapper{
  margin-left: 3vw;
  width: 22vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.COImage1{
  margin-top: 2vh;
  width: 22vw;
  height: 50%;
}

.COImage2{
  margin-top: 2vh;
  width: 22vw;
  height: 60%;
}

.COContentWrapper ul{
  font-size: 1.8vh;
  list-style-position: inside;
  margin-left: 0;
  margin-top: 2vh;
  padding: 0;
}

.COEmailBox{
  height: 12vh;
  width: 25vw;
  margin-top: 2vh;
  background-color: #D8D8D8;
  box-shadow: 0.6vw 0.6vw grey;
  color: #646464;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.COEmailBox h4{
  position: absolute;
  margin-top: 2vh;
  font-size: 2.3vh;
  font-weight: bold;
}

.COEmailBox h3{
  position: absolute;
  margin-top: 6vh;
  font-size: 3vh;
}
