.HostPartyWrapper{
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HostPartyWrapper h1{
  margin-top: 10vh;
  color: black;
  font-size: 7vh;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

#HostPartyContentWrapper{
  height: 55vh;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HostPartyTextWrapper{
  height: 20vw;
  width: 30vw;
  text-align: left;
  color: #646464;
}

.HostPartyHeader{
  font-size: 3vh;
  font-weight: bold;
}

.HostPartyImage{
  height: 20vw;
  width: 20vw;
  background-color: #C4C4C4;
}
