button {
  background-color: white;
  border: none;
  padding: 0 !important;
  font-family: 'OpenSans-SemiBold';
  font-size: 2vh;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  height: 15vh;
  padding: 1.5vh;
}

#logo {
  margin-right: 2vw;
}

#AboutUs {
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 24vh;
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
  position: absolute;
  top: 18vh;
  background-color: white;
}

#WaysToGive {
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 16vh;
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
  position: absolute;
  top: 18vh;
  background-color: white;
}

#FoundAnimal {
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 20vh;
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
  position: absolute;
  top: 18vh;
  background-color: white;
}

#News {
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 12vh;
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
  position: absolute;
  top: 18vh;
  background-color: white;
}

.menuSubtext {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: white;
  font-family: 'OpenSans-SemiBold';
  font-size: 1.5vh;
}

.wrapper {
  flex-flow: column nowrap;
  align-items: center;
  display: flex;
  margin-right: 3.0vw;
}